<%= form_with(model: task, class: "rounded shadow-md bg-white p-4 mt-2", html: {"data-turbo-frame": "_top"}) do |form| %>
  <!-- <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> -->
  
    
  <div class="space-y-1">
    <div class="field">
      <%= form.text_field :title,
        placeholder: "Enter task title",
        class: "w-full text-base",
        autocomplete: "off",
        autofocus: true %>
    </div>

    <div class="field">
      <%= form.text_area :description,
        placeholder: "Enter description (optional)",
        class: "w-full text-sm resize-none" %>
    </div>
  
  </div>

  <!-- <div class="field">
    <%= form.label :estimate %>
    <%= form.text_field :estimate %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div> -->

  <div class="flex flex-row items-center space-x-4">
    <%= render partial: "estimate", locals: {
      name: "task[estimate]",
      value: task.estimate
    } %>
    
    <div class="flex-grow"></div>
    
    <a href="<%= tasks_path %>" class="text-sm font-medium active:text-gray-500">Cancel</a>
    <%= form.submit("Create", class: "block bg-blue-500 active:bg-blue-600 text-white py-1 px-3 rounded text-sm font-medium cursor-pointer") %>
  </div>
<% end %>
