<%= turbo_frame_tag "edit_task_#{task.id}" do %>

  <li
    class="task"
    data-controller="task"
    data-action="click->task#handleClick dblclick->task#handleDoubleClick"
    data-task-id-value="<%= task.id %>"
    data-task-edit-url-value="<%= edit_task_path(task) %>"
  >
    <h3>
      <span class="checkbox"></span>
      <span><%= task.title %></span>
      
      <a class="hidden pl-2 text-blue-500 underline" href="<%= edit_task_path(task) %>" data-task-target="editLink">edit</a>
      
      <div class="flex-grow"></div>
      
      <div class="w-13">
        <span class="text-sm rounded px-1 py <%= colors_for_estimate(task.estimate).join(" ") %>"><%= format_estimate(task.estimate) %></span>
      </div>
    </h3>
    <p><%= task.description %></p>
  </li>

<% end %>